@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

* {
    font-family: "Open Sans";
}

body {
    margin: 0;
}

.takeNote {
    color: white;
    border-radius: 5px;
    background-color: #181618;
}

.underline {
    text-decoration: underline;
    text-decoration-color: #5d974c;
}

.underline:hover {
    text-decoration-color: red;
}

@media only screen and (max-width: 270px) {
    * {
        word-break: break-all;
    }
}
