/* Øk Font Size på menu-elements */

header {
    grid-column: 1;
    grid-row: 1;

    display: flex;
    align-items: center;
    position: sticky;
    top: 0;


    background-color: #5d974c;

    z-index: 10;

    box-shadow: 0px 2px 2px black;
}

#logo {
    position: absolute;
    width: auto;
    left: 100px;
    text-decoration: none;
}

#logo > h1 {
    color: #181618;

    border-style: inset;
    border-color: white;

    padding: 2px;
    padding-left: 4px;
    padding-right: 4px;
}


/*region Logo Hover*/

#logo > h1 > span {
    transition: color 1s;
}

#logo > h1:hover > #S {
    transition: color 0.2s;
    color: white;
}

#logo > h1:hover > #W {
    transition: color 0.4s;
    color: white;
}

#logo > h1:hover > #E1 {
    transition: color 0.6s;
    color: white;
}

#logo > h1:hover > #A {
    transition: color 0.8s;
    color: white;
}

#logo > h1:hover > #P {
    transition: color 1s;
    color: white;
}

#logo > h1:hover > #E2 {
    transition: color 1.2s;
    color: white;
}

#logo > h1:hover > #R {
    transition: color 1.4s;
    color: white;
}
/*endregion*/

#menuElements {
    position: absolute;
    right: 100px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 250px;
}


#menuElements > div > a {
    color: black;
    font-size: 25px;
}

#menuElements > div > a:hover {
    color: #EFF0EC;
}

@media only screen and (max-width: 700px) {
    header {
        flex-direction: column;
        height: 150px;
    }

    #logo {
        position: static;
    }

    #menuElements {
        position: static;
        margin-top: -35px;
    }
}

@media only screen and (max-width: 270px) {

    header {
        align-items: center;
        height: 200px;
    }

    #menuElements {
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 0;
        height: auto;
        width: 100%;
    }

    #why {
        margin-top: -25px;
        height: auto;
    }
}