header {
    grid-column: 1;
    grid-row: 1;

    border-bottom-style: ridge;

    display: flex;
    align-items: center;
    position: relative;
}

#logo {
    position: absolute;
    width: auto;
    left: 100px;
}

#logo > h1 {
    color: #181618;

    border-style: inset;
    border-color: #5d974c;
    padding: 2px;
}

#menuElements {
    position: absolute;
    right: 100px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 250px;
}


@media only screen and (max-width: 660px) {
    header {
        flex-direction: column;
    }

    #logo {
        position: static;
    }

    #menuElements {
        position: static;
    }
}

@media only screen and (max-width: 300px) {

    header {
        align-items: center;
    }

    #menuElements {
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 0;
        height: auto;
        width: 100%;
    }
}