header {
    grid-column: 1;
    grid-row: 1;


    display: flex;
    align-items: center;
    position: relative;
}

#logo {
    position: absolute;
    width: auto;
    left: 100px;
}

#logo > h1 {
    color: #181618;

    background-color: #EEE8DE;
    border-style: inset;
    border-color: #5d974c;

    padding: 2px;
}


/*region Logo Hover*/

#logo > h1 > span {
    transition: color 1s;
}

#logo > h1:hover > #S {
    transition: color 0.1s;
    color: #5d974c;
}

#logo > h1:hover > #W {
    transition: color 0.2s;
    color: #5d974c;
}

#logo > h1:hover > #E1 {
    transition: color 0.2s;
    color: #5d974c;
}

#logo > h1:hover > #A {
    transition: color 0.3s;
    color: #5d974c;
}

#logo > h1:hover > #P {
    transition: color 0.4s;
    color: #5d974c;
}

#logo > h1:hover > #E2 {
    transition: color 0.5s;
    color: #5d974c;
}

#logo > h1:hover > #R {
    transition: color 0.6s;
    color: #5d974c;
}
/*endregion*/

#menuElements {
    position: absolute;
    right: 100px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 250px;
}


@media only screen and (max-width: 660px) {
    header {
        flex-direction: column;
    }

    #logo {
        position: static;
    }

    #menuElements {
        position: static;
    }
}

@media only screen and (max-width: 300px) {

    header {
        align-items: center;
    }

    #menuElements {
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 0;
        height: auto;
        width: 100%;
    }
}