body {
    display: grid;

    grid-template-columns: 100%;
    grid-template-rows: 100px auto auto auto auto auto auto 100px;

    background-color: #5d974c;
}

#appDemoSection {
    height: calc(100vh - 100px);
    min-height: 750px;
    display: flex;


    background-color: #24652f;
}

#appContainer {
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

}

#appDemo {
    height: 700px;
    width: auto;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

#appDemo > img {
    height: 100%;
    width: auto;
}

.lineText {
    width: 17.8%;
    height: 5%;
    font-size: 25px;

    position: absolute;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.lineText > a {
    text-decoration: none;
    color: black;
    background-color: #EFF0EC;
    border-radius: 2px;
    padding-left: 5px;
    padding-right: 5px;
}

.lineText > a:hover {
    background-color: #1b881b;
}


/*region POI*/
#routeFinder {
    top: 28.5%;
    left: 0;
    justify-content: flex-start;
}

#settings {
    top: 60%;
    left: 0;
    justify-content: flex-start;
}

#garbageCan {
    top: 12.7%;
    right: 0;
}

#recyclingPoint {
    top: 44.3%;
    right: 0;
}

#photo {
    top: 75.7%;
    right: 0;
}
/*endregion*/

.howContainer {
    height: auto;
    min-height: 400px;
    width: 90%;
    margin-left: 5%;

    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100px auto;
}

.howBox {
    grid-row: 2;
    height: 400px;

    border-style: inset;
    border-color: #EFF0EC;
    border-width: 4px;
    background-color: #EFF0EC;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding-bottom: 25px;
}

.howText {
    height: 90%;
    width: 90%;

    margin: 0;

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;

}

.howHeader {
    font-size: 50px;
    margin-top: 20px;
    margin-bottom: 20px;

    text-align: center;
}

.howText > p {
    font-size: 25px;
    height: 80%;
    width: 26%;

    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 1%;

    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;

    border-style: inset;
    border-color: #1b881b;
    border-width: 4px;
}

#recyclingPointText > div > div > p {
    width: 60%;
}

#garbageCanText > div > div > p {
    width: 60%;
}

#settingsText {
    margin-bottom: 50px;
}


@media only screen and (max-width: 1260px) {
    #appDemoSection {
        height: auto;
        min-height: 0;
    }

    #appDemo {
        width: 90%;
        height: auto;

        margin-top: 20px;
        margin-bottom: 20px;
    }

    #appDemo > img {
        width: 100%;
        height: auto;
    }

    .lineText {
        font-size: 2.1vw;
    }
}

@media only screen and (max-width: 1023px) {
    .howContainer {
        height: auto;
        width: 90%;
    }

    .howBox {
        height: auto;
    }

    .howText {
        width: 100%;
        text-align: center;
        flex-direction: column;
    }

    .howText > p {
        width: 70%;

        text-align: center;

        padding-top: 15px;
        padding-bottom: 15px;
    }
}

@media only screen and (max-width: 700px) {
   .howContainer {
       grid-template-rows: 150px auto;
       margin-top: -50px;
   }

}

@media only screen and (max-width: 270px) {
    #appDemoSection {
        margin-top: 80px;
    }
}