body {
    display: grid;

    grid-template-columns: 100%;
    grid-template-rows: 100px auto auto auto 100px;


}

#howFirst {
    height: calc(100vh - 100px);
    min-height: 750px;
    display: flex;

    padding-top: 50px;
    align-items: flex-start;
    padding-bottom: 25px;

    background-color: #5d974c;
}

#appContainer {
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: flex-start;

}

#appDemo {
    height: 700px;
    width: auto;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

#appDemo > img {
    height: 100%;
    width: auto;
}

.lineText {
    width: 17.8%;
    height: 5%;
    font-size: 25px;

    position: absolute;
    display: flex;
    align-items: center;
    justify-content: flex-end;


}
.lineText:hover {
    color: darkgreen;
}

/*region POI*/
#routeFinder {
    top: 28.2%;
    left: 0;
    justify-content: flex-start;
}

#settings {
    top: 59.5%;
    left: 0;
    justify-content: flex-start;
}

#trashCan {
    top: 12.3%;
    right: 0;
}

#recyclingPoint {
    top: 44%;
    right: 0;
}

#photo {
    top: 75.6%;
    right: 0;
}
/*endregion*/


#howSecond {
    grid-column: 1;
    grid-row: 3;
}


#howThird {
    grid-row: 4;
}

.howContainer {
    height: calc(50vh - 100px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.howImg {
    height: calc(100% - 8px);
    width: calc(50% - 8px);
    background-color: darkgreen;
    display: flex;
    justify-content: center;
    align-items: center;

    border-style: inset;
    border-width: 4px;
    border-color: #EFF0EC;
}

.howImg > p {
    font-size: 75px;
}

.howText {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.howText > h2 {
    margin: 0;
    margin-top: 25px;
    font-size: 50px;
}

.howText > p {
    margin: 0;
    margin-top: 25px;
    font-size: 25px;
    padding: 15px;
}


footer {
    grid-row: auto;
}



@media only screen and (max-width: 1240px) {
    #howFirst {
        min-height: 0;
        height: auto;
    }

    #appDemo {
        width: 95%;
        height: auto;
    }

    #appDemo > img {
        width: 100%;
        height: auto;
    }

    .lineText {
        font-size: 2.2vw;
    }
}

@media only screen and (max-width: 1023px) {

    .howContainer {
        height: auto;
        width: 100%;
    }

    .howContainer:nth-child(odd) {
        flex-direction: column-reverse;
    }
    .howContainer:nth-child(even) {
        flex-direction: column;
    }

    .howText {
        width: 100%;
        text-align: center;
    }

    .howImg {
        width: calc(100% - 8px);
        word-break: break-all;
    }
    .howImg > img {
        width: 80%;
    }
}

@media only screen and (max-width: 270px) {
    #howFirst {
        margin-top: 80px;
    }
}