
body {
    display: grid;

    grid-template-columns: 100%;
    grid-template-rows: 100px 800px 335px 100px;

    background-color: #edf0e1;

}

#frontPageFirst {
    grid-column: 1;
    grid-row: 2;

    border-bottom-style: groove;
    border-bottom-color: #5d974c;
}

#frontPageSecond {
    grid-column: 1;
    grid-row: 3;

    border-bottom-style: ridge;
}