
body {
    display: grid;

    grid-template-columns: 100%;
    grid-template-rows: 100px auto auto auto 100px;

    background-color: #EFF0EC;

}

/*region First Section*/
#frontPageFirst {
    grid-column: 1;
    grid-row: 2;

    height: calc(100vh - 100px);
    min-height: 750px;


    display: flex;

    background-color: #5d974c;
}


#appQuote {
    display: flex;
    height: 100%;
    width: 35%;

    justify-content: center;
    align-items: center;

}

#appQuote > p {
    width: 80%;
    font-weight: bolder;
    font-size: 50px;
    text-align: right;
    margin-bottom: 200px;
}

#appImgFirst {
    display: flex;
    height: 100%;
    width: 30%;

    flex-direction: column;

    align-items: center;
    justify-content: center;
}

#introducing {
    justify-self: flex-end;
}

#appImgFirst > img {
    min-height: 600px;
    min-width: 350px;

    border-style: solid;
    border-width: 5px;
    border-radius: 50px;

    margin-top: 30px;

    background-color: pink;
}

#missonStatement {
    display: flex;
    height: 100%;
    width: 35%;

    justify-content: center;
    align-items: center;
}

#missonStatement > p {
    width: 80%;
    font-weight: bolder;
    font-size: 50px;
    text-align: left;

    margin-top: 200px;
}

/*endregion*/

/*region Recycling*/
#frontPageSecond {
    grid-column: 1;
    grid-row: 3;

    height: calc(100vh - 100px);
    min-height: 750px;

    display: flex;
    justify-content: space-around;
    align-items: center;


}

#recyclingImg {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: darkgreen;
}


#recyclingStat {
    display: flex;

    height: 80%;
    width: 50%;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

#recyclingStat > p {
    width: 50%;
    font-size: 50px;
}


#recyclingStat2 {
    margin-left: 100px;
}
/*endregion*/

#frontPageThird {
    grid-column: 1;
    grid-row: 4;

    height: calc(100vh - 200px);
    min-height: 750px;

    display: flex;
    justify-content: space-around;
    align-items: center;
}


#plasticStat {
    display: flex;

    height: 100%;
    width: 50%;
    justify-content: space-around;
    flex-direction: column;
}

#plasticStat > p {
    font-size: 50px;
    width: 50%;
}

#plasticStat1 {
    margin-left: 200px;
}

#plasticStat2 {
    margin-left: 100px;
}

#plasticImg {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #75dddd;
}





@media only screen and (max-width: 1060px) {
    #frontPageFirst {
        flex-direction: column;
        height: auto;
    }

    #appQuote {
        width: 100%;
        min-height: calc(100vh - 100px);
    }

    #appImgFirst {
        width: 100%;
        height: calc(100vh);
        min-height: 0;
        margin: 0;
    }

    #appImgFirst > img {
    }

    #missonStatement {
        width: 100%;
        height: auto;
        margin: 0;
        margin-bottom: 100px;
    }

    #missonStatement > p {
        margin: 0;
    }

    #frontPageSecond {
        height: auto;
        flex-direction: column;
    }

    #recyclingImg {
        width: 90%;
        margin-top: 25px;
    }

    #recyclingImg > img {
        height: 300px;
    }

    #recyclingStat {
        width: 90%;
    }

    #recyclingStat > p {
        font-size: 40px;
    }

    #recyclingStat2 {
        margin-left: 9%;
        word-break: break-word;
    }


    #frontPageThird {
        height: auto;
        flex-direction: column;
    }

    #plasticImg {
        width: 90%;
        margin-top: 25px;
        margin-bottom: 25px;
    }

    #plasticImg > img {
        height: 300px;
    }

    #plasticStat {
        width: 90%;
    }

    #plasticStat > p {
        font-size: 40px;
    }

    #plasticStat1 {
        margin-left: 9%;
        word-break: break-word;
    }

    #plasticStat2 {
        margin-left: 15%;
    }

}

@media only screen and (max-width: 400px) {
    #appImgFirst {
        width: 100%;
        height: 600px;
    }

    #appImgFirst > img {
        min-width: 0;
        min-height: 0;

        width: 90%;
        height: 500px;

        margin-bottom: 40px;
    }
}