
body {
    display: grid;

    grid-template-columns: 100%;
    grid-template-rows: 100px auto auto auto 100px;

    background-color: #EFF0EC;

}

/*region First Section*/
#frontPageFirst {
    grid-column: 1;
    grid-row: 2;

    height: calc(100vh - 100px);
    min-height: 750px;


    display: flex;

    background-color: #24652f;
}


#appQuote {
    display: flex;
    height: 100%;
    width: 35%;

    justify-content: center;
    align-items: flex-start;
}

#appQuote > p {
    width: 90%;
    font-weight: bolder;
    font-size: 50px;
    text-align: right;
    margin-bottom: 200px;
    color: white;
}

#appImgFirst {
    display: flex;
    height: 100%;
    width: 30%;

    flex-direction: column;

    align-items: center;
    justify-content: center;
}

#appImgFirst > img {
    max-height: 753px;
    height: 90%;
    width: auto;
}

@media only screen and (max-width: 1500px) {
    #appImgFirst > img {
        width: 100%;
        height: auto;
    }
}

#missonStatement {
    display: flex;
    height: 100%;
    width: 35%;

    justify-content: center;
    align-items: center;
}

#missonStatement > p {
    width: 90%;
    font-weight: bolder;
    font-size: 50px;
    text-align: left;

    margin-top: 200px;
    color: white;
}

/*endregion*/

/*region Recycling*/
#frontPageSecond {
    grid-column: 1;
    grid-row: 3;

    height: calc(100vh - 100px);
    min-height: 750px;

    display: flex;
    justify-content: space-around;
    align-items: center;


}

#recyclingImg {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #1b881b;
}

#recyclingImg > img {
    height: auto;
    width: 70%;

}

#recyclingStat {
    display: flex;

    height: 100%;
    width: 50%;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

#recyclingStat > p {
    width: 70%;
    font-size: 50px;
}


#recyclingStat2 {
    margin-left: 100px;
}
/*endregion*/

#frontPageThird {
    grid-column: 1;
    grid-row: 4;

    height: calc(100vh - 200px);
    min-height: 750px;

    display: flex;
    justify-content: space-around;
    align-items: center;
}


#plasticStat {
    display: flex;

    height: 100%;
    width: 50%;
    justify-content: space-around;
    align-items: flex-end;
    flex-direction: column;
}

#plasticStat > p {
    font-size: 50px;
    width: 70%;
}

#plasticStat1 {
    margin-right: 100px;
}

#plasticStat2 {
    margin-right: 20px;
}

#plasticImg {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: darkcyan;
}

#plasticImg > img {
    height: auto;
    width: 70%;
}


@media only screen and (max-width: 1060px) {
    #frontPageFirst {
        flex-direction: column;
        height: auto;
    }

    #frontPageSecond {
        height: auto;
        min-height: 1000px;
    }

    #frontPageThird {
        height: auto;
        min-height: 1000px;
    }

    #appQuote {
        width: 100%;
        min-height: calc(50vh - 100px);
    }

    #appImgFirst {
        width: 100%;
        height: calc(100vh);
        min-height: 1000px;
        margin: 0;
    }

    #appImgFirst > img {
        max-width: 463px;
        width: 80%;
        height: auto;
        min-height: 0;
    }

    #missonStatement {
        width: 100%;
        height: auto;
        margin: 0;
        margin-bottom: 100px;
    }

    #missonStatement > p {
        margin: 0;
    }

    #frontPageSecond {
        height: auto;
        flex-direction: column-reverse;
        margin-top: 0;
    }

    #recyclingImg {
        width: 100%;
        height: 50%;
    }

    #recyclingImg > img {
        width: 50%;
        height: auto;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    #recyclingStat {
        width: 100%;
        height: 50%;
    }

    #recyclingStat > p {
        font-size: 35px;
    }

    #recyclingStat2 {
        margin-left: 9%;
        word-break: break-word;
    }


    #frontPageThird {
        height: auto;
        flex-direction: column;
    }

    #plasticImg {
        height: 50%;
        width: auto;
    }

    #plasticImg > img {
        width: 50%;
        height: auto;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    #plasticStat {
        height: 50%;
        width: 100%;
        align-items: flex-start;
    }

    #plasticStat > p {
        font-size: 35px;
        width: auto;
    }

    #plasticStat1 {
        margin-left: 6%;
        margin-right: 0;
    }

    #plasticStat2 {
        margin-left: 10%;
        margin-right: 0;
        hyphens: auto;
    }

}

@media only screen and (max-width: 600px) {
    #frontPageFirst {
        margin-bottom: 50px;
    }

    #appQuote > p {
        width: 95%;
        font-size: 45px;
    }

    #missonStatement > p {
        font-size: 45px;
        width: 95%;
    }

    #appImgFirst {
        width: 100%;
        height: auto;
    }

    #appImgFirst > img {
        min-width: 0;
        min-height: 0;

        width: 90%;
    }

}

@media only screen and (max-width: 319px) {
    #frontPageFirst > *, #frontPageSecond #frontPageThird {
        word-break: break-all;
    }
}