body {
    display: grid;

    grid-template-columns: 100%;
    grid-template-rows: 100px auto auto 100px;

    background-color: #24652f;

}

#web {
    grid-column: 1;
    grid-row: 2;

    height: auto;
    width: 100%;

    margin-top: 100px;

    display: flex;
    justify-content: center;
    align-items: center;
}

#webSources {
    width: 80%;
    height: 80%;

    background-color: #EFF0EC;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#webSources > h2 {
    font-size: 50px;
    text-align: center;
}

#webSources > ul {
    font-size: 30px;
    list-style: none;
}

#webSources > ul > li > a {
    color: black;
}

#webSources > ul > li > a:hover {
    color: #24652f;
}

#img {
    grid-column: 1;
    grid-row: 3;

    height: auto;
    width: 100%;

    margin-top: 50px;
    margin-bottom: 100px;

    display: flex;
    justify-content: center;
    align-items: center;
}

#imgAttributions {
    width: 80%;
    height: 80%;

    background-color: #EFF0EC;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#imgAttributions > h2 {
    font-size: 50px;
    text-align: center;
}

#imgAttributions > ul {
    font-size: 30px;
    list-style: none;
}

#imgAttributions > ul > li > a {
    color: black;
}

#imgAttributions > ul > li > a:hover {
    color: #24652f;
}