body {
    display: grid;

    grid-template-columns: 100%;
    grid-template-rows: 100px auto 100px;

    background-color: #EFF0EC;

}

#whyFirst {
    height: 100vh;
    background-color: #5d974c;
}